
<div id="page-top-actions" style="display: none;">
    <a href="/simcard_history/export">
        <button class="btn-primary" style="border-radius: 20px; gap: 8px;">
            <i class="material-icons">file_download</i> <span data-i18n="history.export">Export</span>
        </button>
    </a>
</div>

<div class="history-container">
    <table >
        <thead>
            <tr>
                <th style="width: 10%;" data-i18n="simcard_history.date"> Date</th>
                <th style="width: 20%;"> ICCID</th>
                <th style="width: 10%;" data-i18n="simcard_history.target_loc"> Location</th>
                <th style="width: 10%;" data-i18n="simcard_history.target_user"> User</th>
                <th style="width: 10%;" data-i18n="simcard_history.target_proj"> Project</th>
                <th style="width: 20%;" data-i18n="simcard_history.action"> Action</th>
                <th style="width: 10%;" data-i18n="simcard_history.number"> Number</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

