
<div id="page-top-actions" style="display: none;">
    <a href="/simcard/export">
        <button class="btn-primary" style="border-radius: 20px; gap: 8px;">
            <i class="material-icons">download</i> <span data-i18n="table.export_all">Export</span>
        </button>
    </a>
</div>

    <div class="table-container">
        <div class="table-header" style="display: flex; justify-content: space-between; gap: 15px;">
            <h2></h2>
            <div id="simcardChart" style="display: flex; flex-direction: column; justify-content: space-between; width: 100%;"></div>
        </div>
        <div class="table-scroll-wrapper">
            <table class="adv-table" id="advancedTable">
                <thead>
                    <tr>
                        <th style="width: 50px; text-align:center;"> <i class="material-icons" style="font-size: 1.1rem; vertical-align: bottom;">keyboard_command_key</i></th>
                        <th onclick="window.sortTable(0, 'string')" style="width: 250px;"> ICCID <i class="material-icons sort-icon">unfold_more</i></th>
                        <th onclick="window.sortTable(1, 'string')" style="width: 100px;" data-i18n="simcard.carrier"> Carrier<i class="material-icons sort-icon">unfold_more</i></th>
                        <th style="width: 200px;" data-i18n="simcard.number"> Number</th>
                        <th onclick="window.sortTable(3, 'string')" style="width: 150px;" data-i18n="simcard.location"> Location<i class="material-icons sort-icon">unfold_more</i></th>
                        <th onclick="window.sortTable(4, 'string')" style="width: 150px;" data-i18n="simcard.direct_user"> Direct User<i class="material-icons sort-icon">unfold_more</i></th>
                        <th onclick="window.sortTable(5, 'string')" style="width: 100px;" data-i18n="simcard.project"> Project<i class="material-icons sort-icon">unfold_more</i></th>
                        <th style="width: 100px;" data-i18n="simcard.status"> Status</th>
                        <th data-i18n="simcard.note"> Note</th>
                    </tr>
                </thead>
                <tbody id="simcardTbody"></tbody>
            </table>
        </div>
    </div>
