{% extends "base.html" %}

{% block title %}{{ t('title.simcard_history', lang) }} - {{ t('title.base', lang) }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/simcard_history.css">
{% endblock %}

{% block top_actions %}
<div>
    <a href="/simcard_history/export">
        <button class="btn-primary" style="border-radius: 20px; gap: 8px;">
            <i class="material-icons">file_download</i> {{ t('history.export', lang) }}
        </button>
    </a>
</div>
{% endblock %}

{% block content %}
<div class="history-container">
    <table >
        <thead>
            <tr>
                <th style="width: 10%;"> {{ t('simcard_history.date', lang) }}</th>
                <th style="width: 20%;"> ICCID</th>
                <th style="width: 10%;"> {{ t('simcard_history.number', lang) }}</th>
                <th style="width: 10%;"> {{ t('simcard_history.target_loc', lang) }}</th>
                <th style="width: 10%;"> {{ t('simcard_history.target_user', lang) }}</th>
                <th style="width: 10%;"> {{ t('simcard_history.target_proj', lang) }}</th>
                <th style="width: 20%;"> {{ t('simcard_history.action', lang) }}</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
{% endblock %}

{% block extra_js %}
<script src="/static/js/simcard_history.js"></script>
<script>
    window.USER_ROLE = "{{ user.role }}";
    window.SIMCARD_LOG_DATA = {};
    window.DEFER_GLOBAL_LOADER = true;
</script>
{% endblock %}
